<div>
    <section class="container p-4 float-left" style="width:42%" >
        <img style="width:80%;margin-left:10%" src="/images/{{proId}}.jpg" />
      
    </section>
      <div class="float-left mt-3 border-dark border " style="width:30% ;height:33em ">
          <div class="p-2">
          <t style="font-weight:600;font-size:larger">Product Name:</t><t class="float-right">{{product.product_name}}</t><br>
          <t style="font-weight:600;font-size:larger">category:</t><t class="float-right ">{{product.category}}</t><br>
          <t style="font-weight:600;font-size:larger">Price:</t><t class="float-right">{{product.price}}</t>
          </div>
            <div class="" style="margin-top:80%;padding-left: 276px;">
                <button class="btn btn-success">Add To Cart</button>
                <a href="/user/buyproduct/?productId={{proId}}"><button class="btn btn-success">Buy</button></a>
            </div>
        </div>
        <div class="float-left bg-primary" style="width:100%">
            

        </div>

</div>